
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.fa{
    font-size: 14px;
}
.fa.fa-trash{
    color: $red;
}
.table-bg{
    background-color: $tableBg;
}


.card-body .form-group.row .col-md-6 {
    width: 100%;
    margin: 0 auto;
}

.card-body .form-group.row label {max-width: 50%;text-align: left !important;margin: 0 auto;display: block;}


// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import '~admin-lte/bower_components/jvectormap/jquery-jvectormap.css';
@import '~admin-lte/dist/css/adminlte.min.css';
@import '~admin-lte/dist/css/skins/_all-skins.min.css';

@import '~alertifyjs/build/css/alertify.min.css';


.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
